body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

*::-webkit-scrollbar ,
.section-c .other-offers::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

/* Track */
*::-webkit-scrollbar-track ,
.section-c .other-offers::-webkit-scrollbar-track{
  background-color: #fff;
}
 
/* Handle */
*::-webkit-scrollbar-thumb,
.section-c .other-offers::-webkit-scrollbar-thumb{
  background: #888; 
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover ,
.section-c .other-offers::-webkit-scrollbar-thumb:hover{
  background: #555; 
}

.container{
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(90deg, #26bfb5, #7b32a8);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.chat-box{
	width: 360px;
	/*height: 600px;*/
	background-color: #fff;
	overflow: hidden;
}


.chat-box .chat-header{
	/*width: 100%;*/	
	position: relative;
	height: 60px;
	background-color: #704e2e;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1em;
	color: #fff;
}

.chat-box .chat-header .avatar{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.chat-box .chat-header .avatar-img{
	position: relative;
	width: 10em;
}

.status-ind{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #76b041;
	position: absolute;
	left: 30px;
	bottom: 5px;
}

.status-txt{
	font-size: 12px;
	font-weight: lighter;
	position: absolute;
	left: 45px;
	bottom: -8px;
}

.chat-name{
	font-size: 14px;
	position: absolute;
	top: -10px;
	left: 45px;
}

.btn{
	cursor: pointer;
}

.chat-box .chat-body{
	position: relative;
	min-height: 30em;
	max-height: 30em;
	overflow: scroll;
	overflow-wrap: break-word;
	border-left: 2px #adadad solid;
	border-right: 2px #adadad solid;
	padding: 0 1em;
	padding-bottom: 2em;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
}

.chat-box .chat-body .chat{
	display: flex;
	padding: 0.5em 0;
	animation: messagePop 1s ease-in;
	animation-fill-mode: forwards;
}

@keyframes messagePop{
	0%{
		opacity: 0;
		transform: translateY(10px);
	}

	50%{
		opacity: 1;
	}

	100%{
		transform: translateY(0px);

	}
}


.bubble-message{
	max-width: 55%;
	min-width: 10%;
	border-radius: 10px;
	background-color: #76b041;
	padding: 0 5px;
/*	animation: bubblePop 1s linear;
	animation-fill-mode: forwards;*/
}

@keyframes bubblePop{
	from{
		min-height: 0;
		max-height: 0;
	}
	to{
		min-height:auto;
	}
}

.bot-chat{
	float: left;
	margin-right: auto;
}

.user-chat .bubble-message{
	background-color: #26bfb5;
}

.bubble-message p{
	font-size: 13px;
	color: #fff;
}

.chat-box .chat-body .bot-chat .bubble-message{
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
	border-top-left-radius: 0px;
}

.chat-box .chat-body .bot-chat .bubble-message::before{
	content: '';
	position: absolute;
	border-left: 0px rgba(0,0,0,0) solid;
	border-right: 15px #76b041 solid;
	border-top: 0px rgba(0,0,0,0) solid;
	border-bottom: 15px rgba(0,0,0,0) solid;
	left: -10px;
}

.chat-box .chat-body .user-chat .bubble-message::before{
	content: '';
	position: absolute;
	border-left: 15px #26bfb5 solid;
	border-right: 0px rgba(0,0,0,0) solid;
	border-top: 0px rgba(0,0,0,0) solid;
	border-bottom: 15px rgba(0,0,0,0) solid;
	right: -10px;
}

.chat-box .chat-body .bot-chat .chat-avatar{
	position: relative;
}

.chat-box .chat-body .bot-chat{
	grid-template-columns: 50px 1em;
}

	/*.chat-box .chat-body .chat-avatar{
		position: relative;
	}*/

.chat-box .chat-body .user-chat{
	float: right;
	position: relative;
	display: flex;
	justify-content: flex-end; 	 		
}

/*.chat-box .chat-body .user-chat .chat-avatar,
.chat-box .chat-body .user-chat .bubble-message{
	position: absolute;
	right: 0;
}

.chat-box .chat-body .user-chat .bubble-message{right: -15%;}
*/

.chat-box .chat-body .user-chat .bubble-message{
	margin-right: 20px;
	margin-top: 20px;
	position: relative;
	border-top-right-radius: 0px;
}

.chat-box .chat-footer{
	background-color: #704e2e;
	height: 30px;
	padding: 0 1em;
	position: relative;
}

/*.chat-box .chat-footer .options{
	height: 100%;
	display: flex;
	align-items: center;
}
*/
.chat-box .chat-footer .user-input{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
}

.chat-box .chat-footer .user-input  #user-msg-input{
	width: 350px;
	font-size: 12px;
	padding: 10px;
	border: none;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	outline: none;
}

.chat-box .chat-footer .user-input .send-btn{
	background-color: #fff;
	width: 34px;
	height: 34px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px #adadad solid;
	cursor: pointer;
}

.chat-box .chat-footer .user-input .send-btn:hover i{
	color: #72c3e5;
	transition: 0.5s;
}


.chat-options{
	position: absolute;
	bottom: -200px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.5s;
	border: 2px #eaeaea solid;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

.option-handle{
	width: 100%;
	height: 20px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.option-handle span{
	width: 50px;
	height: 4px;
	border-radius: 5px;
	background-color: #333;
}

.chat-option-list{
	margin: 0;
	padding: 0;
	background-color: #fff;
	list-style-type: none;
	overflow-y: scroll;
	width: 330px;
	height: 200px;
	position: relative;
}
.chat-option{
	padding: 0.7em 1em;
	cursor: pointer;
}

.chat-option:hover{
	background-color: #eaeaea;
	transition: 0.5s;
}

.chat-option p{
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-weight: bolder;
	cursor: pointer;
	color: #37819b;
}

.chat-option-line{
	width: 80%;
	height: 1px;
	background-color: #eaeaea;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


@media(max-width: 550px){
	.chat-box .chat-footer .user-input  #user-msg-input{
		width: 200px!important;
	}
}
